* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;

}

window {
    margin: 0px;
    border: 2px solid #3e4452;
    border-radius: 5px;
    background-color: #282c34;
    font-family: monospace;
    font-size: 12px;
}

#input {
    margin: 5px;
    border: 1px solid #282c34;
    color: #abb2bf;
    background-color: #282c34;
}

#input image {
	color: #abb2bf;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282c34;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #282c34;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #abb2bf;
}

#entry:selected {
	background-color: #3e4452;
	font-weight: normal;
}

#text:selected {
	background-color: #3e4452;
	font-weight: normal;
}
