[Unit]
Description=Hyperidle (user)
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hypridle --config %h/.config/hypr/hypridle.conf
Restart=on-failure
RestartSec=2
Environment=PATH=%h/bin:/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=default.target

