@define-color bg    #282c34;
@define-color fg    #abb2bf;
@define-color blk   #2c323c;
@define-color red   #e06c75;
@define-color grn   #98c379;
@define-color ylw   #e5c07b;
@define-color blu   #61afef;
@define-color mag   #c678dd;
@define-color cyn   #56b6c2;
@define-color brblk #3e4452;
@define-color white #abb2bf; 

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
    border-bottom: 3px solid @bg;
}
#workspaces button.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}
#workspaces button.empty {
    color: @white;
}
#workspaces button.empty.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#idle_inhibitor,
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @cyn;
    border-bottom: 4px solid @cyn;
}

#battery {
    color: @red;
    border-bottom: 4px solid @red;
}

#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#memory {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", "Symbols Nerd Font Mono", monospace;
  padding: 0 8px;
    color: @mag;
    border-bottom: 4px solid @mag;
}

#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#network {
    color: @blu;
    border-bottom: 4px solid @blu;
}

#network.disconnected {
    background-color: @red;
}

#idle_inhibitor {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#idle_inhibitor.activated {
    color: @red;
    border-bottom: 4px solid @red;
}

#tray {
    background-color: #3e4452;
}
